
<div class="container" style="background-color: lightgrey;">
    <h1>Products</h1>
    <hr>
    <!-- <label for="Id" class="">Id</label><br>
    <input type="text" [(ngModel)]="ndpt.dptId" name="Id">   <br> 
    <label for="Name" class="">Name</label><br> 
    <input type="text" [(ngModel)]="ndpt.dptName" name="Name">  <br> 
    <label for="Location" class="">Location</label> <br> 
    <input type="text" [(ngModel)]="ndpt.dptLocation" name="Location">   -->

    <table class="table table-striped table-bordered table-hover">
        <tr colspan="2" class="bg-info">
          <th>Show Image</th>
          <th>Product</th>
          <th>Code</th>          
          <th>Available</th>          
          <th>Price</th>          
          <th>5 star rating</th>          
        </tr>
       
       
        <tr *ngFor="let item of productsArr">
            <td><img src="{{item.imageURL}}" alt="{{item.imageURL}}"></td>
            <td>{{item.product}}</td>
            <td>{{item.code}}</td>
            <td>{{item.available|date}}</td>
            <td>${{item.price}}</td>
            <td><p-rating [(ngModel)]="item.rating"></p-rating></td>
        </tr>
        
    
    </table>



</div>
