<div class="container d-flex">

    <div class="col-4 news">
        <h3>News</h3>

        <br />
        <div class="news  border p-3">

       
        <div class="onePieceofNews bordered ">
            <h4>September 27 , 2006</h4>
            <p>
                lorem ipsum dolor sit amet, consectetur adip
                lorem ipsum dolor sit amet, consectetur adip
            </p>
        </div>
        <br>
        <div class="onePieceofNews">
            <h4>September 27 , 2006</h4>
            <p>
                lorem ipsum dolor sit amet, consectetur adip
                lorem ipsum dolor sit amet, consectetur adip
            </p>
        </div>
        <br>
        <div class="onePieceofNews">
            <h4>September 27 , 2006</h4>
            <p>
                lorem ipsum dolor sit amet, consectetur adip
                lorem ipsum dolor sit amet, consectetur adip
            </p>
        </div>
        
    </div>
    </div>
    <!-- news done -->

    <div class="col-7 p-3">
        <h1 class="page-header " style="color:red">
            Welcome to RedTie!
        </h1>
        <strong>
            <p>
                lorem ipsum dolor sit lorem ipsum dolor sit amet olor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit amet
            </p>
        </strong>
        
        <br>

        <p>
            lorem ipsum dolor sit lorem ipsum dolor sit amet olor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit amet
        </p>

        <br>
        
        <p>
            lorem ipsum dolor sit lorem ipsum dolor sit amet olor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit ametolor sit lorem ipsum dolor sit amet
        </p>
    </div>

</div>

<br/>